.column-1 {
  background-color: blue;
  display: inline-block;
  width: 40%;
  vertical-align: top;
  padding-left: 10px;
  border-radius: 25px;
  color: white;
}

.column-2 {
  background-color: red;
  display: inline-block;
  width: 50%;
  vertical-align: top;
  padding: 10px;
  border: 10px solid black;
}

body {
  font-family: Arial;
}

footer {
  text-align: center;
}

h1 {
  font-size: 50px;
}

header, footer {
  background-color: green;
}

.column-1 > article > h2 {
  color: green;
}

a:hover {
  color: orange;
}